spring:
  config:
    activate:
      on-profile: prod
  devtools:
    restart:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

server:
  compression:
    enabled: true
  error:
    include-message: never
    include-stacktrace: never
    include-binding-errors: never

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized

logging:
  http:
    logged-headers:
      - x-request-id
