spring:
  config:
    activate:
      on-profile: local
  docker:
    compose:
      file: ../docker-compose.yaml
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoint:
    health:
      show-details: always
      show-components: always

security:
  cookie:
    secure: false
